// ============================================================================
//   SITE LAYOUT
//   --------------------------------------------------------------------------
//   $name:        /src/scss/layout/_general.scss
//   $author:      David Hund
//
//   $description: Generic Layout Styles.
//
//   $contents:
//                 1  Carpet Bomb margin-bottom on last:child
//                 2  float-helpers
//                 3  Size (Width) Helpers
//                 4  Special Golden Ratio Size (Width) Helpers
// ============================================================================

/* = Protect vertical rhytm and boxed layouts
 --------------------------------------------------------------------------- */
// TODO: Test this well!

// We almost never want the baseline bottom margin on :last-child
//
// This carpet bomb prevents huge selectors for all kinds of components etc
:last-child { margin-bottom: 0 !important; }

/* = Float Helpers
 --------------------------------------------------------------------------- */
.l-float-left {
	float: left;
	@include rem(margin-right,$mg-default);
}
.l-float-right {
	float: right;
	@include rem(margin-left,$mg-default);
}

/* = Size (Width) Helpers
     https://github.com/suitcss/utils-size/blob/master/size-v3.css
     2, 3, 4, 5, 6, 8, 10, 12 parts
 --------------------------------------------------------------------------- */
.l-1of12  { width: 8.333% !important; }
.l-1of10  { width: 10% !important; }
.l-1of8   { width: 12.5% !important; }
.l-1of6,
.l-2of12  { width: 16.667% !important; }
.l-1of5,
.l-2of10  { width: 20% !important; }
.l-1of4,
.l-2of8,
.l-3of12  { width: 25% !important; }
.l-3of10  { width: 30% !important; }
.l-1of3,
.l-2of6,
.l-4of12  { width: 33.333% !important; }
.l-3of8   { width: 37.5% !important; }
.l-2of5,
.l-4of10  { width: 40% !important; }
.l-5of12  { width: 41.667% !important; }
.l-1of2,
.l-2of4,
.l-3of6,
.l-4of8,
.l-5of10,
.l-6of12  { width: 50% !important; }
.l-7of12  { width: 58.333% !important; }
.l-3of5,
.l-6of10  { width: 60% !important; }
.l-5of8   { width: 62.5% !important; }
.l-2of3,
.l-4of6,
.l-8of12  { width: 66.667% !important; }
.l-7of10  { width: 70% !important; }
.l-3of4,
.l-6of8,
.l-9of12  { width: 75% !important; }
.l-4of5,
.l-8of10  { width: 80% !important; }
.l-5of6,
.l-10of12 { width: 83.333% !important; }
.l-7of8   { width: 87.5% !important; }
.l-9of10  { width: 90% !important; }
.l-11of12 { width: 91.667% !important; }

/* = Special Golden Ratio Size (Width) Helpers
 --------------------------------------------------------------------------- */
$l-golden-primary: (100 / $phi) !default;
$l-golden-secondary: 100 - (100 / $phi) !default;

.l-primary   { 
	@include MQ(medium) {
		width: $l-golden-primary * 1% !important; 
	}
}
.l-secondary {
	@include MQ(medium) {
		width: $l-golden-secondary * 1% !important; 
	}
}
