// ============================================================================
// FUNCTIONS
// ----------------------------------------------------------------------------

// Modular Scale stuff from https://github.com/Team-Sass/modular-scale/
$base: 1em !default;

$fibonacci: (1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144);

// parseInt()
@function parseInt($n) {
	@return $n / ($n * 0 + 1);
}

// // pow()
// // from: http://hugogiraudel.com/2013/10/17/sass-random/
// @function pow($val, $pow) {
// 	$res: 1;
// 	@while($pow > 0) {
// 		$res: $res * $val;
// 		$pow: $pow - 1;
// 	}
// 	@return $res;
// }

// // goldenRatioRemainder()
// // TODO: NOT finished, ...
// @function goldenRatioModularScale($value, $fBase: $base, $ratio: $phi) {
// 	@return pow($ratio, $value) * $fBase;
// }

@function goldenRatio($value) {
	@return $value / $phi;
}

@function goldenRatio-percent($value) {
	@return ($value / $phi)*1%;
}

@function goldenRatio-list($value) {
	$greatest: goldenRatio($value);
	$smallest: $value - $greatest;
	@return ($greatest, $smallest);
}

@function goldenRatio-large($value) {
	@return nth(goldenRatio-list($value),1);
}
@function goldenRatio-small($value) {
	@return nth(goldenRatio-list($value),2);
}


// COLOR CONTRAST:
// Straight from: https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/utilities/color/_contrast.scss
// Documentation: http://compass-style.org/reference/compass/utilities/color/contrast/
// ----------------------------------------------------------------------------
$contrasted-dark-default:   #000 !default;
$contrasted-light-default:  #fff !default;
$contrasted-lightness-threshold: 30% !default;

// Returns the `$light` color when the `$color` is dark
// and the `$dark` color when the `$color` is light.
// The `$threshold` is a percent between `0%` and `100%` and it determines
// when the lightness of `$color` changes from "dark" to "light".
@function contrast-color(
	$color,
	$dark: $contrasted-dark-default,
	$light: $contrasted-light-default,
	$threshold: $contrasted-lightness-threshold
) {
	@return if(lightness($color) < $threshold, $light, $dark)
}

// Sets the specified background color and calculates a dark or light contrasted text color.
// The arguments are passed through to the [contrast-color function](#function-contrast-color).
@mixin contrasted(
	$background-color,
	$dark: $contrasted-dark-default,
	$light: $contrasted-light-default,
	$threshold: $contrasted-lightness-threshold
) {
	background-color: $background-color;
	color: contrast-color($background-color, $dark, $light, $threshold);
}
