// ============================================================================
//   SETTINGS
//   --------------------------------------------------------------------------
//   @name:        /src/scss/_settings.scss
//   @author:      David Hund
//
//   @description: All Settings/Vars. Does not output CSS!
//
//   				 cl-* = Color value
//   				 ff-* = Font family value
//   				 fs-* = Font size value
//   				 ln-* = Line-height value (unitless)
//   				 pd-* = Padding value
//   				 mg-* = Margin value
//   				 bd-* = Border value
//   				 mq-* = Media Query unit
//
// ============================================================================

// = SUPPORT SETTINGS
//   Should we provide certain fallbacks
// ----------------------------------------------------------------------------
$oldIE: false;                                     // Support oldIE (<IE9) in e.g. MQ()
$rem-px: true;                                     // add px fallback to rem values
$modifiers-extend: false;                          // [default:false] - Use 2 classes. True: object--modifier @extend object

// = ACCENT (Site-Specific) COLORS
//   Change These: try not to change the others
// ----------------------------------------------------------------------------
$cl-accent:                 #9DBCBC;
$cl-accent2:                #ADE0DB;

// = Colors
// ----------------------------------------------------------------------------
$cl-black:                  #111;
$cl-white:                  #FFF;
$cl-lightgrey:              #DDD;
$cl-grey:                   #999;
$cl-darkgrey:             	#666;

// Other colors
$cl-border:                 $cl-grey;
$cl-bg:                     $cl-lightgrey;         // Base Background color
$cl-text:                   $cl-black;             // Base Text color
$cl-text-alt:               lighten($cl-text,50%); // Alternative, lighter, Text color

$cl-chrome-bg:              rgba(0,0,0,0.35);      // Chrome (header/footer) Background color
$cl-chrome-text:            rgba(255,255,255,0.9); // Chrome (header/footer) Text color
$cl-chrome-link:            rgba(255,255,255,0.8); // Chrome (header/footer) Link color

// Hyperlink Colors
$cl-link:                   #1E90FF;
$cl-link-hover:             #FF901E;

// = Font Stacks
// ----------------------------------------------------------------------------
$ff-body:                   Arial, sans-serif;     // Body font stack
$ff-body-alt:               Georgia, Times, serif; // Alt Body font stack
$ff-headings:               $ff-body;              // Headings font stack

// = Sizes
// ----------------------------------------------------------------------------
// "The Golden Ratio"
$phi: 1.61803;

// Type
$fs-base-pc:                100;                   // ~= 100% ~= 16px, Base font size, Browser default of 100%
$fs-base-px:                16;                    // ~= 16px, Base font size
$ln-height:                 $phi;                  // 1.618 != 25.888 ~= 26 //1.5 ~= 24px
$base-line:                 round( $ln-height * ($fs-base-px * 1px) );

// Breakpoints (Media Query min-width)
$mq-narrow: 30em;                                  // ~ 480px
$mq-medium: 48em;                                  // ~ 768px
$mq-wide:   64em;                                  // ~ 1024px
$breakpoints: narrow $mq-narrow, medium $mq-medium, wide $mq-wide;

// Padding / Margin
$gutter:                    $fs-base-px*1px;       // PX: Default space between stuff
$gridGutter:                $gutter/2;             // PX or "0" (will be converted to REM)
$pd-default:                20px;                  // PX (will be converted to REM)
$mg-default:                $base-line;            // PX (will be converted to REM)

// Decoration
$bd-radius:                 0; //2px;                   // Default border-radius
